.buttons {
  display: flex;
  border-top: 1px solid black;
}

.button {
  width: 100%;
  padding: 12px 0;
  background: none;
  border: none;
  border-left: 1px solid black;
  font-family: Roboto;
  font-size: 18px;
  line-height: 21px;
  cursor: pointer;

  &:first-child {
    border-left: none;
  }

  &:active {
    transform: scale(0.98);
  }

  &:hover {
    color: silver;
  }
}

.active {
  background: black;
  color: white;
}
