* {
  font-family: "Roboto", sans-serif;
}

.block {
  max-width: 300px;
  border: 1px solid black;
  border-top: none;
  border-right: none;
  width: 100%;
}

.temp {
  display: flex;
}

.degrees {
  font-size: 70px;
  line-height: 82px;
  margin: 20px 0 0 35px;
}

.celsius {
  margin-top: 34px;
}

.icon {
  display: flex;
  justify-content: center;
  height: 202px;
  // margin-top: 20px;
  // margin-bottom: 54px;
}

.cloud {
  display: flex;
  justify-content: center;
  height: 205px;
  // margin-top: 30px;
  // margin-bottom: 116px;
}

.added {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 23px 23px 12px;
}

.city {
  font-size: 24px;
  line-height: 28px;
}

.heart {
  border: none;
  background: none;
  cursor: pointer;

  :active {
    fill: black;
    transform: scale(0.98);
  }
  &.active svg {
    fill: black;
  }
}

.message {
  text-align: center;
  font-size: 18px;
  line-height: 28px;
  font-style: italic;
  padding-top: 100px;
  padding-bottom: 24px;
}
